/* ------------------------ */
/*     GOOGLE FONTS        */
/* ------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Oswald:wght@200..700&family=Poppins:wght@100..900&family=SUSE+Mono:wght@100..800&display=swap');

/* ------------------------ */
/*     GLOBAL RESET        */
/* ------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f7f7f7;
    font-family: "Poppins", sans-serif;
}

/* ------------------------ */
/*     NAVIGATION BAR      */
/* ------------------------ */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

/* Website Logo */
.Logo a {
    text-decoration: none;
    font-family: "SUSE Mono", monospace;
    font-weight: 600;
    font-size: 2rem;
    color: black;
}

/* Auth Buttons Container */
.auth {
    display: flex;
    gap: 1rem;
}

.auth > a {
    border: 2px solid #333;
    padding: 0.45rem 1rem;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
}

.auth > a:hover {
    background-color: #FAB12F;
    color: #fff;
    border-color: #DD0303;
    transform: scale(1.05);
}

/* ------------------------ */
/*     USER PROFILE        */
/* ------------------------ */
.user-profile {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
    border: 2px solid #333;
}

/* ------------------------ */
/*       HERO SECTION      */
/* ------------------------ */
.hero-section {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2rem;
}

.heading-text {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.desc-text {
    font-size: 1.2rem;
    font-weight: 600;
    max-width: 700px;
    margin: 0 auto;
}

.hero-btn {
    display: inline-block;
    border: 2px solid #333;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
}

.hero-btn:hover {
    background-color: royalblue;
    color: #fff;
    border-color: #222;
    transform: scale(1.05);
}
