{% extends 'Blog/Yappers Post.html' %}
{% load static %}
{% block title %} Submit to Yappers Post {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/.css' %}">
{% endblock %}


{% block content %}
    {% if submit_status %}
        <div class="container d-flex justify-content-center align-items-center">
            <img src="{% static 'images/thank_you_image.png' %}" alt="Thank You For Writing">
            <span class="fs-3">Your Form Was Submitted!</span>
        </div>
    {% else %}
        <span class="heading">Create post</span>
            <div class="content-types">
                <a href="#">Text</a>
                <a href="#">Images & Videos</a>
                <a href="#">Link</a>
                <a href="$">Poll</a>
            </div>
            <form  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Save Your Blog">
            </form>
    {% endif %}
{% endblock %}

