<!-- This is the hero block that gets displayed on the base by default 
This block is separted because the hero section has to be Hidden while Writing the blog and that is only possible when the hero is in a separate blog -->

{% extends 'Blog/Yappers Post.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/hero.css' %}">
{% endblock %}

{% block hero %}
<div class="hero-section">
    <span class="heading-text">Discover Relateable Experiences</span>
    <span class="desc-text">Yap to Your Heart's Content ❤️ With Fellow Yappers 🙋‍♂️, Share Common Experiences and Ideas 💡</span>
    <a href="{% url 'blog_form' %}" class="hero-btn">Start Yapping !</a>
</div>
{% endblock %}