{% extends 'Blog/Yappers Post.html' %} 

{% block title %} Current Blogs {% endblock %}

{% block content %} 

<div class="content">
    {% if current_blogs %} 
    {%for blog_data in current_blogs %}
        <h1>Blog Title : {{blog_data.Blog_Title}}</h1>
        <p class="fs-3">{{blog_data.Blog_Content}}</p>
        <h3>Author: {{blog_data.Blog_Author}}</h3>
        {% if blog_data.Blog_Image %}
            <img src="{{blog_data.Blog_Image.url}}" alt="{{blog_data.Blog_Title}}" >
        {% endif %}
{%endfor%} 
</div>

{% else %}

<h2>There are no blogs present in the datatbase</h2>

{%endif%} 

{% endblock %}
