<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yappers Post</title>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <!-- Page-specific CSS -->
    <!-- {% block extra_css %}{% endblock %} -->
</head>
<body>

<nav>
    <div class="nav-container">
        <ul>
            <li><a href="{% url 'home' %}"><span class="Logo">Yappers Post</span></a></li>
        </ul>
        {% if not user.is_authenticated %}
        <div class="auth ">
            <a href="{% url 'login' %}"><span class="nav-text">Log In</span></a>
            <a href="{% url 'signup_page' %}"><span class="nav-text">Sign UP</span></a>
        </div>
        {% else %}
        <div class="user-profile">
            <img src="{{user.profile_photo.url}}" alt="media/profile_photos/default-profile-photo" class="profile-photo">
            <span>{{user_name}}</span>
        </div>
    </div>
</nav>

<!-- hero-section -->
<div class="hero-section">
    <span class="heading-text">Discover Relateable Experiences</span>
    <span class="desc-text">Yap to Your Heart's Content ❤️ With Fellow Yappers 🙋‍♂️, Share Common Experiences and Ideas 💡</span>
    <a href="{% url 'blog_form' %}" class="hero-btn">Start Yapping</a>
</div>

<main class="container mt-4">
    {% block content %}
    <!-- Child templates will insert content here -->
    {% endblock %}
</main>


</body>
</html>
